Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

img {
  width: 60%;
}

a {
  padding: 10px;
}
